<h2>Queen</h2>
<h5>Group photo:</h5>
<div class="fakeimg" style="height:560px;"><img src="~/Images/Queen.png"  class="img-thumbnail"></div>

<h3>Members of the group</h3>

<a href="Freddie.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Фредди Меркьюри</a>

<a href="John.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Джон Дикон</a>

<a href="Roger.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Роджер Тейлор</a>

<a href="Brian.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Брайан Мэй</a>

