@{
    Layout = "~/Views/Shared/_Top.cshtml";
}
<table style="width:100%; border-radius:5px">
    <tr>
        <th class=text-center>Место</th>
        <th class=text-center>Название песни</th>
        <th class=text-center>Просмотров на YouTube</th>

    </tr>
    <tr>

        <td>1.</td>
        <td>“Bohemian Rhapsody”</td>
        <td>1 113 247 670</td>


    </tr>
    <tr>

        <td>2.</td>
        <td>“Fat Bottomed Girls”</td>
        <td>82 407 933</td>


    </tr>
    <tr>

        <td>3.</td>
        <td>“Don’t Stop Me Now”</td>
        <td>558 587 915</td>


    </tr>
    <tr>

        <td>4.</td>
        <td>“Somebody to Love”</td>
        <td>283 611 542</td>


    </tr>
    <tr>

        <td>5.</td>
        <td>“Who Wants to Live Forever”</td>
        <td>113 571 729</td>


    </tr>
    <tr>

        <td>6.</td>
        <td>“Crazy Little Thing Called Love”</td>
        <td>147 092 297</td>


    </tr>
    <tr>

        <td>7.</td>
        <td>‘Under Pressure’</td>
        <td>159 632 386</td>


    </tr>
    <tr>

        <td>8.</td>
        <td>“The Show Must Go On”</td>
        <td>133 223 667</td>


    </tr>
    <tr>

        <td>9.</td>
        <td>“Killer Queen”</td>
        <td>166 418 869</td>


    </tr>
    <tr>

        <td>10.</td>
        <td>“I Want to Break Free”</td>
        <td>373 807 673</td>


    </tr>
</table>

