
@{
      Layout = "~/Views/Shared/_Shop.cshtml";
}

    <div class="header">

        <div class="logo">
            <a href="@Url.Action("Shop","Shop")"><img src="~/Images/logo.png"  width:"150" height="100" class="img-responsive" alt="" /></a>
        </div>
        <div class="search">
            <div class="search2">
                <form>
                    <input type="submit" value="">
                    <input type="text" value="Search for a product, category or brand" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}" />
                </form>
            </div>
        </div>
        </div>

    <div class="wrap">
        <div class="navigation-strip">
            <h4>Catalogue<i class="arrow"></i></h4>
            <div class="top-menu">
                <div class="top-menu">
                    <!-- start header menu -->
                    <ul class="megamenu skyblue">
                        <li>
                            <a class="color1" href="#">Phone Cases</a>
                    
                        </li>
                        <li class="grid">
                            <a class="color2" href="#">T-Shirts</a>
                         
                        </li>
                        <li class="grid">
                            <a class="color4" href="#">Stickers</a>
                          
                        </li>
                        <li>
                            <a class="color5" href="#">Cups</a>
                         
                        </li>
                        <li>
                            <a class="color6" href="#">Posters</a>
                          
                        </li>
                        <li>
                            <a class="color8" href="#">Clothing Patches</a>
                       
                        </li>
                        <li>
                            <a class="color9" href="#">Key Rings</a>

                        </li>
                        <li>
                            <a class="color5" href="#">Vinyl Plate</a>
                        
                    
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
            </div>
        </div>


<div class="main_bg">
	<div class="main">	   		           	         
		<div class="latest-products">
		<h2 class="style top">Best Sales</h2>
		<!-- start grids_of_3 -->
		<div class="grids_of_3">
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/tsh (1).jpg" alt=""/>
					<h3>T-Shirt</h3>
					<div class="price1">
						<h4>$29<span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/tsh (2).jpg" alt=""/>
					<h3>T-Shirt</h3>
					<div class="price1">
						<h4>$19 <span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/tsh (3).jpg" alt=""/>
					<h3>T-Shirt</h3>
					<div class="price1">
						<h4>$19<span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="grids_of_3">
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/tsh (4).jpg" alt=""/>
					<h3>T-Shirt</h3>
					<div class="price1">
						<h4>$49<span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/case.jpg" alt=""/>
					<h3>Case</h3>
					<div class="price1">
						<h4>$1<span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="single.html">
					<img src="~/Images/cup.jpg" alt=""/>
					<h3>Cup</h3>
					<div class="price1">
						<h4>$10<span>indulge</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>	
		<!-- end grids_of_3 -->
	</div>
	<div class="sub-cate">
				<div class=" top-nav rsidebar span_1_of_left">
					<h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">T-Shirts <img class="arrow-img"  src="images/arrow1.png"  alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">OverSize </a></li>
                                <li class="subitem2"><a href="products.html">Slim </a></li>
                                <li class="subitem3"><a href="products.html">Henli T-Shirts </a></li>
                            </ul>
                        </li>
                        <li class="item2">
                            <a href="#">Phone Cases <img class="arrow-img " src="images/arrow1.png" alt="" /></a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">Plastic </a></li>
                                <li class="subitem2"><a href="products.html">Flip </a></li>
                                <li class="subitem3"><a href="products.html">Silicone </a></li>
                            </ul>
                        </li>
                        <li class="item3">
                            <a href="#">Stickers<img class="arrow-img img-arrow" src="images/arrow1.png" alt="" /> </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">Foil </a></li>
                                <li class="subitem2"><a href="products.html">Glossy </a></li>
                                <li class="subitem3"><a href="products.html">Matte</a></li>
                            </ul>
                        </li>
                        <li class="item4">
                            <a href="#">Cups <img class="arrow-img img-left-arrow" src="images/arrow1.png" alt="" /></a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">1</a></li>
                                <li class="subitem2"><a href="products.html">2</a></li>
                                <li class="subitem3"><a href="products.html">3 </a></li>
                            </ul>
                        </li>
                        <li class="item4">
                            <a href="#">Posters <img class="arrow-img img-left-arrow" src="images/arrow1.png" alt="" /></a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">1</a></li>
                                <li class="subitem2"><a href="products.html">2</a></li>
                                <li class="subitem3"><a href="products.html">3 </a></li>
                            </ul>
                        </li>
                        <li class="item4">
                            <a href="#">Patches<img class="arrow-img img-left-arrow" src="images/arrow1.png" alt="" /></a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">1</a></li>
                                <li class="subitem2"><a href="products.html">2</a></li>
                                <li class="subitem3"><a href="products.html">3 </a></li>
                            </ul>
                        </li>
                        <li class="item4">
                            <a href="#">Key Rings<img class="arrow-img img-left-arrow" src="images/arrow1.png" alt="" /></a>
                            <ul class="cute">
                                <li class="subitem1"><a href="products.html">1</a></li>
                                <li class="subitem2"><a href="products.html">2</a></li>
                                <li class="subitem3"><a href="products.html"> 3</a></li>
                            </ul>
                        </li>
                    </ul>
					</div>
				<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
					
					  <div class="clearfix"> </div>
			</div>
	 <div class="clearfix"> </div>
</div>
</div>
</div>	