<h2>We love Queen,We listen them , We live like them. </h2>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<h5>A little information about Queen.</h5>
<div class="fakeimg" style="height:200px;">
     Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.

</div>
<p>Do you like memes ?.</p>
<p>Kak dela??.</p>
<br>
<h2>Bohemian Rhapsody</h2>
<h5>The most popular queen song.</h5>
<div class="embed-responsive embed-responsive-16by9">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="fakeimg" style="height:200px; text-shadow:3px;">In the explanation, Queen states that "Bohemian Rhapsody" is about a young man who has accidentally killed someone and, like Faust, sold his soul to the devil. ... Music scholar Sheila Whiteley observes that Mercury reached a turning point in his personal life in the year he wrote "Bohemian Rhapsody"</div>

